body {
  background: firebrick;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  border: 2px solid;
  padding: 7px;
  position: relative;
  top: 20px;
  background: gray;
}

#contents {
  background: gray;
}

.tab_content {
  border: 2px solid;
  position: absolute;
  z-index: 1;
}

#about {
  display: none;
}

#concerts {
  position: relative;
  bottom: 506px;
  display: none;
}

#discography {
  position: relative;
  bottom: 937px;
  display: none;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}