body {
  background: firebrick;
  margin: 0;
  padding: 0;  
}

nav ul li {
  list-style: none;
  display: inline-block;
  border: 2px solid;
  padding: 7px;
  position: relative;
  top: 18px;
  background: gray;
}

#contents {
  background: gray;
}

.tab_content {
  border: 2px solid;  
}

#about {
  display: block;
}

#concerts {
  display: none;
}

#discography {
  display: none;
}